{% extends "blog/base.html" %}

{% block title %} {{ title }} {% endblock %}

{% block content %}
    {% for post in news %}
    <div class="alert alert-light">
        <h1>{{ post.title }}</h1>
        <p>{{ post.text|striptags|truncatechars:200 }}</p>
        
        <div class="news-user-data">
            <img src="{{ post.avtor.profile.img.url }}" alt={{ post.avtor.username }} />
            <div>
                <span class="text-muted">Публикация: {{ post.date|date:"d E Y года в H:i" }}</span>
                <p>Автор: <a href="{% url 'user-news' post.avtor %}">{{ post.avtor }}</a></p>
            </div>
        </div>

        <a href="{% url 'news-detail' post.id %}" class="btn btn-warning">Читать далее</a>
    </div>
    {% endfor %}

    {% if is_paginated %}
        {% if page_obj.has_previous %}
            <a href="{% url 'home' %}" class="btn btn-outline-danger">Начало</a>
            <a href="?page={{ page_obj.previous_page_number }}" class="btn btn-outline-danger">Предыдущая</a>
        {% endif %}

        {% for num in page_obj.paginator.page_range %}
            {% if num == page_obj.number %}
                <button class="btn btn-danger">{{ num }}</button>
            {% elif num >= page_obj.number|add:'-2' and num <= page_obj.number|add:'2' %}
                <a href="?page={{ num }}" class="btn btn-outline-danger">{{ num }}</a>
            {% endif %}
        {% endfor %}

        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}" class="btn btn-outline-danger">Следующая</a>
            <a href="?page={{ page_obj.paginator.num_pages }}" class="btn btn-outline-danger">Последняя</a>
        {% endif %}
    {% endif %}
{% endblock %}

{% block aside_block %}
<h4 class="mt-2">Интересные статьи</h4>

<img src="https://itproger.com/img/news/1766163737.jpg"
    class="img-thumbnail">
<p>Диплом или самообразование — что реально важно для старта и роста в IT? Разбираем, как компании
    принимают решения при найме и что ценится на практике.</p>

<a href="https://itproger.com/news/samouchka-protiv-diploma-kogo-na-samom-dele-berut-v-it">
    <button class="btn btn-warning">Посмотреть</button>
</a>

<img src="https://itproger.com/img/news/1766163197.jpg" class="mt-5 img-thumbnail">
<p>Войти в IT стало заметно труднее: конкуренция выросла, требования к новичкам стали выше, а «быстрые
    пути» больше не гарантируют работу. Разбираем причины и что делать.</p>

<a
    href="https://itproger.com/news/programmirovanie-bolshe-ne-dlya-vseh-pochemu-vhod-v-it-stal-slozhnee">
    <button class="btn btn-warning">Посмотреть</button>
</a>
{% endblock %}